@font-face {
	font-family: "UTMBebas";
	src: url("../fonts/UTMBebas.eot");
	src: url("../fonts/UTMBebas.eot?#iefix") format("embedded-opentype"),
	url("../fonts/UTMBebas.woff") format("woff"),
	url("../fonts/UTMBebas.ttf") format("truetype"),
	url("../fonts/UTMBebas.svg#UTMBebas") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}